@import url('/static/aaad-vars.css');
#aaadcontainer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 32767;
  text-align: center;
}
#aaaddropdown {
  padding: 5px;
  text-align: center;
  background-color: var(--env-bg-color);
  border-bottom: 2px solid var(--env-border-color);
  color: var(--env-dd-text-color)
}
#aaadselector {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  background-color: var(--env-bg-color);
  color: var(--env-dd-text-color)
}
.rogermascotimg {
  width: 25px;
}
