{
    "users": [
        {
            "password": "ernie",
            "permissions": [
                {
                    "allowed": "create",
                    "on": "/dev/"
                },
                {
                    "allowed": "update",
                    "on": "/dev/"
                },
                {
                    "allowed": "delete",
                    "on": "/dev/"
                },
                {
                    "allowed": "view",
                    "on": "/dev/"
                },
                {
                    "allowed": "killTask",
                    "on": "/dev/"
                }
            ],
            "user": "ernie"
        },
        {
            "password": "bert",
            "permissions": [
                {
                    "allowed": "create",
                    "on": "/prod/"
                },
                {
                    "allowed": "update",
                    "on": "/prod/"
                },
                {
                    "allowed": "delete",
                    "on": "/prod/"
                },
                {
                    "allowed": "view",
                    "on": "/prod/"
                },
                {
                    "allowed": "killTask",
                    "on": "/prod/"
                }
            ],
            "user": "bert"
        },
        {
            "password": "admin",
            "permissions": [
                {
                    "allowed": "create",
                    "on": "/"
                },
                {
                    "allowed": "update",
                    "on": "/"
                },
                {
                    "allowed": "delete",
                    "on": "/"
                },
                {
                    "allowed": "view",
                    "on": "/"
                },
                {
                    "allowed": "killTask",
                    "on": "/"
                }
            ],
            "user": "admin"
        }
    ]
}
