{
"type": "{{ marathon_auth_gsheet_oauth_type }}",
"project_id": "{{ marathon_auth_gsheet_oauth_project_id }}",
"private_key_id": "{{ marathon_auth_gsheet_oauth_private_key_id }}",
"private_key": "{{ marathon_auth_gsheet_oauth_private_key }}",
"I": "{{ marathon_auth_gsheet_oauth_I }}",
"client_email": "{{ marathon_auth_gsheet_oauth_client_email }}",
"client_id": "{{ marathon_auth_gsheet_oauth_client_id }}",
"auth_uri": "https://accounts.google.com/o/oauth2/auth",
"token_uri": "https://accounts.google.com/o/oauth2/token",
"auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
"client_x509_cert_url": "{{ marathon_auth_gsheet_oauth_client_x509_cert_url }}"
}
