users:
- can_act_as:
  - teamA
  - all_users
  user: foo.bob
- can_act_as:
  - all_users
  permissions:
  - action:
      DELETE:
      - /marathon/v2/{apps|groups}/teamA/.*
      GET:
      - /marathon/v2/{apps|groups}/teamA/.*
      - /chronos/jobs/teamA/.*
      POST:
      - /marathon/v2/{apps|groups}/teamA/.*
      PUT:
      - /marathon/v2/{apps|groups}/teamA/.*
  user: teamA
- can_act_as:
  - all_users
  permissions:
  - action:
      DELETE:
      - /marathon/v2/.*
      - /chronos/jobs/.*
      GET:
      - /marathon/v2/.*
      - /chronos/jobs/.*
      POST:
      - /marathon/v2/.*
      - /chronos/jobs/.*
  user: admin
- permissions:
  - action:
      GET:
      - /marathon/v2/{apps|groups}
      - /chronos/jobs
      POST:
      - /marathon/v2/eventSubscriptions
  user: all_users
