{
    "users": [
        {
            "password": "password",
            "permissions": [
                {
                    "allowed": "create",
                    "on": "/team-uri/"
                },
                {
                    "allowed": "update",
                    "on": "/team-uri/"
                },
                {
                    "allowed": "delete",
                    "on": "/team-uri/"
                },
                {
                    "allowed": "view",
                    "on": "/team-uri/"
                },
                {
                    "allowed": "killTask",
                    "on": "/team-uri/"
                }
            ],
            "user": "username"
        }
    ]
}
