{% if mesos_slave_network_interface is defined %}{{ hostvars[inventory_hostname][mesos_slave_network_interface]['ipv4']['address'] }}{% else %}{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}{% endif %}
