{
  "Marathon": {
    "Endpoint": "{%- for host in groups['marathon_servers'] -%}http://{% if nginx_auth_enable is defined and nginx_auth_enable|bool %}{{ marathon_bamboo_user }}:{{ marathon_bamboo_pass }}@{{ host }}:4080/marathon/{% else %}{% if marathon_auth_enable is defined and marathon_auth_enable|bool %}{{ marathon_bamboo_user }}:{{ marathon_bamboo_pass }}@{% endif %}{{ host }}:8080{% endif %}{% if not loop.last %},{% endif %}{%- endfor %}"
  },

  "Bamboo": {
    "Endpoint": "http://{{ inventory_hostname }}:8000",
    "Zookeeper": {
      "Host": "{%- for host in groups['zookeeper'] -%}{{ host }}{% if not loop.last %},{% endif %}{%- endfor %}",
      "Path": "/bamboo/state",
      "ReportingDelay": 5
    }
  },

  "HAProxy": {
    "TemplatePath": "{{ bamboo_conf_dir }}/haproxy_template.cfg",
    "OutputPath": "/etc/haproxy/haproxy.cfg",
    "ReloadCommand": "service haproxy reload"
  },

  "StatsD": {
    "Enabled": false,
    "Host": "localhost:8125",
    "Prefix": "bamboo-server.development."
  }
}
