description "RogerOS - Authentication, Authorization and Auditing"
author  "Vinit Mahedia <vinit@moz.com>"

start on runlevel [234]
stop on runlevel [0156]

chdir {{nginx_conf_dir}}/aaad

env HTPASSWD_FILE={{ nginx_conf_dir }}/{{ nginx_basic_auth_file_name }}
env SECRET_KEY={{ aaadsid_secret_key }}
env SESSION_TIMEOUT_SECONDS={{ aaadsid_timeout_seconds }}
{% if aaadsid_domain is defined %}
env SESSION_ID_DOMAIN={{ aaadsid_domain }}{% endif %}
env MESOS_MASTER_URL={{ mesos_leader_ui_url }}
env QUOTA_FILE={{ nginx_conf_dir }}/quotas.yml

exec python {{ nginx_conf_dir }}/aaad/aaad.py {{ nginx_conf_dir }}/permissions.yml

respawn
