description "RogerOS - Authentication, Authorization and Auditing Daemon"

start on runlevel [234]
stop on runlevel [0156]

chdir {{nginx_conf_dir}}/aaad

env HTPASSWD_FILES={{ nginx_conf_dir }}/{{ nginx_basic_auth_file_name }}
env PERMISSIONS_FILES={{ nginx_conf_dir }}/permissions.yml

env APP_SECRET_KEY={{ aaad_app_secret_key }}

env SESSION_TOKEN_SECRET_KEY={{ aaadsid_secret_key }}
env REMEMBER_COOKIE_DURATION_SECONDS={{ aaadsid_rem_cookie_duration_seconds }}

env MESOS_MASTER_URL={{ mesos_elected_leader_url | default('http://127.0.0.1:5050') }}
env MARATHON_MASTER_URL={% if marathon_leader_url is defined %}{{ marathon_leader_url }}{% else %}http://localhost:{{ marathon_http_port }}{% endif %}

env CHRONOS_MASTER_URL={% if chronos_leader_url is defined %}{{ chronos_leader_url }}{% else %}http://localhost:{{ chronos_http_port }}{% endif %}

env QUOTA_FILES={{ nginx_conf_dir }}/quotas.yml

{% if aaadsid_domain is defined %}
env SESSION_ID_DOMAIN={{ aaadsid_domain }}{% endif %}

{% if actas_cookie_name is defined %}
env ACTAS_COOKIE_NAME={{ actas_cookie_name }}{% endif %}

env LOG_LEVEL={{ log_level | default('warning')}}
env LOGGER_NAME=aaad

env PYTHON_HOME={{ nginx_conf_dir }}/aaad/venv
exec $PYTHON_HOME/bin/python {{ nginx_conf_dir }}/aaad/server.py

respawn
