description "RogerOS - Authentication, Authorization and Auditing Daemon"

start on runlevel [234]
stop on runlevel [0156]

chdir {{nginx_conf_dir}}/aaad

env HTPASSWD_FILE={{ nginx_conf_dir }}/{{ nginx_basic_auth_file_name }}
env PERMISSIONS_FILE={{ nginx_conf_dir }}/permissions.yml

env APP_SECRET_KEY={{ aaad_app_secret_key }}

env SESSION_TOKEN_SECRET_KEY={{ aaadsid_secret_key }}
env SESSION_MAXAGE_SECONDS={{ aaadsid_maxage_seconds }}

env MESOS_MASTER_URL={{ mesos_leader_ui_url | default('http://127.0.0.1:5050') }}
env QUOTA_FILE={{ nginx_conf_dir }}/quotas.yml

{% if aaadsid_domain is defined %}
env SESSION_ID_DOMAIN={{ aaadsid_domain }}{% endif %}

{% if actas_cookie_name is defined %}
env ACTAS_COOKIE_NAME={{ actas_cookie_name }}{% endif %}

env MESOS_MASTER_URL=http://mesos.{{ env_name }}.roger.dal.moz.com

env LOG_LEVEL={{ log_level | default('warning')}}

env PYTHON_HOME={{ nginx_conf_dir }}/aaad/venv
exec $PYTHON_HOME/bin/python {{ nginx_conf_dir }}/aaad/server.py

respawn
