location = /login { # this is to allow a login link
        rewrite ^ /login.html?$args&redirect_url=$scheme://$host/ redirect;
}

location = /login.html {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Scheme $scheme;
        root {{ nginx_auth_login_dir }};
}
