# another virtual host using mix of IP-, name-, and port-based configuration
#
upstream marathon {
        server localhost:8080;
}

upstream chronos {
        server localhost:4400;
}

server {
        listen {{nginx_proxy_port}};
        server_name server.alias;
        root html;
        index index.html index.htm;

        location /marathon/ping {
                 auth_basic Off;
                 proxy_pass http://marathon/ping;
        }

        location /chronos/scripts/views/job_detail_header_view.js {

            auth_basic Off;
            root /usr/local/openresty/nginx/chronos/auth;
        }

        location /chronos/scripts/templates/job_persistence_error.hbs {

            auth_basic Off;
            root /usr/local/openresty/nginx/chronos/auth;
        }

        location /chronos/scripts/views/job_detail_view.js {

            auth_basic Off;
            root /usr/local/openresty/nginx/chronos/auth;
        }


        location /marathon/ {
                satisfy all;
                auth_basic "Restricted";
                auth_basic_user_file {{nginx_conf_dir}}/{{nginx_basic_auth_file_name}};
                access_by_lua_file '/usr/local/openresty/nginx/auth_request.lua';
                proxy_pass http://marathon/;
                add_header act-as-user $http_x_upstream_act_as_user;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Scheme $scheme;
                proxy_set_header Authorization $http_authorization;
                proxy_pass_header Authorization;
        }

        location /chronos/ping {
                 auth_basic Off;
                 proxy_pass http://chronos/ping;
        }

        location /chronos/ {
                satisfy all;
                auth_basic "Restricted";
                auth_basic_user_file {{nginx_conf_dir}}/{{nginx_basic_auth_file_name}};
                access_by_lua_file '/usr/local/openresty/nginx/auth_request.lua';
                proxy_pass http://chronos/;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Scheme $scheme;
                add_header act-as-user $http_x_upstream_act_as_user;
                proxy_set_header Authorization $http_authorization;
                proxy_pass_header Authorization;
                error_page 403 /403;

        }

        location = /403 {
                root /usr/local/openresty/nginx/chronos/auth;
                internal;
        }

	location = /auth-proxy {
                proxy_pass http://localhost:{{nginx_aaad_port}};
                proxy_set_header URI $request_uri;
                proxy_set_header method $request_method;
                proxy_pass_request_headers on;
	}

}
